<div class="edit-survey-container">
  <app-multiple-choice></app-multiple-choice>
  <div class = "title"> Untitled form</div>
  <img class="pencil" src="/assets/pencil.svg"/>
</div>
<div>
  <app-short-answer></app-short-answer>
  <app-big-answer></app-big-answer>
  <div class="form-container">
    <div class="responses-container">
      <div class= "number">0</div>
      <div class= "response">responses</div>
    </div>
    <div>
      <div class = "title"> 
        Untitled form
        <img class="pencil" src="../../../assets/images/vector.svg"/>
      </div>
      <app-short-answer></app-short-answer>
      <app-big-answer></app-big-answer>
      <app-yes-no></app-yes-no>
    </div>
  </div>
  <app-send-button></app-send-button>
</div>
